p {
  margin: 0;
}
.cast__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-right: -15px;
  margin-bottom: -15px;
}

.cast__item {
  width: 130px;
  margin-right: 15px;
  margin-bottom: 15px;
}
.cast__img {
  width: 110px;
  height: 150px;
  margin-bottom: 10px;
}

.cast__character {
  margin-bottom: 5px;
  margin-top: 10px;
  font-weight: 700;
}
