.container{
    padding: 0 15px;
}

header{
    padding: 20px;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.header__link{
    font-size: 20px;
    text-decoration: none;
    &:not(:last-child){
        margin-right: 20px;
    }
}